{% extends "base.html" %}
{% load static %} 
{% block header_other %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tabulator-tables@5/dist/css/tabulator.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tabulator-tables@5/dist/css/tabulator_bootstrap5.min.css">
<script src="https://cdn.jsdelivr.net/npm/tabulator-tables@5/dist/js/tabulator.min.js"></script>
{% endblock header_other %} 
{% block content %}
<!-- "Loading ..." modal -->
{% include "modals/loading.html" %}
<section class="" id="main-content">
<h1>Unify Referents</h1>
  <div class="row">
    <p>Use this tool to establish that two or more Referents refer to the same person. Search for the potential matches in the "Available Referents" table, and drag them to the "Selected Referents" table to unify them.</p>
    <p>To remove a Referent from the "Selected Referents" table, drag the Referent back to the "Available Referents" table.</p>
    <div id="error-message" class="danger" hidden></div>
  </div>
  <div class="tables row">
    <section class="table-container">
      <h2>Selected Referents</h2>
      <div id="selected-count" class="table-count">0 referents</div>
      <div id="selected-table"></div>
    </section>
    <section class="table-container">
      <h2>Available Referents</h2>
      <div id="available-count" class="table-count">Loading...</div>
      <div id="remaining-table"></div>
    </section>
  </div>
  <div class="row">
    <button class="btn btn-success btn-md" type="submit" value="Save unified referents" disabled>This will someday be a submit button to save unified referents</button>
  </div>
</section>

<script>

function getCsrftoken() {
  const value = `; ${document.cookie}`;
  const parts = value.split(`; csrftoken=`);
  if (parts.length === 2) {
    return parts.pop().split(';').shift();
  }
  return '';
}

/*
function getCsrftoken(name) {
  const value = `; ${document.cookie}`;
  const parts = value.split(`; ${name}=`);
  if (parts.length === 2) {
    return parts.pop().split(';').shift();
  }
  return '';
} */

function testLinkReferentsApi() {
  const payload = {
    referent_uuid_1: '0525bfbd58654199a597c296602cd1b1',
    referent_uuid_2: '45342abed6d4455d87ebf1853d4509f6',
    researcher_note: 'Testing referent unification via API'
  };

  fetch('/data/person/link-referents/', {
    method: 'POST',
    credentials: 'same-origin',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': getCsrftoken()
    },
    body: JSON.stringify(payload)
  })
  .then((response) => response.text())
  .then((text) => {
    console.log(text);
    alert(text);
  })
  .catch((error) => {
    console.error(error);
    alert('Request failed: ' + error);
  });
}
</script>

<button id="api-test" onclick="testLinkReferentsApi()">
  UNIFY
</button>
<button id="api-test" onclick="testLinkReferentsApi2()">
  UN-UNIFY
</button>


{% endblock content %} 
{% block footer %} 
{% include "partials/acknowledgements.html" %} 
{% endblock footer %} 
{% block page_specific_js %}
<script type="text/javascript">
var DATA_URL = "{% static 'data/browse.json' %}";
</script>
<script type="module" src="{% static 'js/unify-refs.js' %}"></script>
{% endblock page_specific_js %}
